# NEXTdrawings DataAssembly
-  Karl Rosengren, PI; Heather Kirkorian, PI; Tim Rogers, PI;  University of Wisconsin – Madison
-  Clint Jensen, Graduate Student, University of Wisconsin – Madison

This script gathers the metadata .csv files for Study 1 and 3, and output , and NEXT output using the drawings from those study participants so that additional factors of interest can be used to predict drawing outcomes (rank, place within an embedding). Analysis of this data can be found in a seperate Jupyter Notebook 'NEXTdrawings Metadata Analysis'. 


### Script  concatenates and alligns metadata (DAP, as well as CUBE and CYLINDER 2D and 3D Objects and Renderings) 

#### Drawing Study 1: Drawing Across Media (DAM)

* Mediums: Children and adults copied simple shapes using each of three mediums (marker on paper, stylus on tablet, finger on tablet). 

* Shape copies: They copied 4 familiar shapes (circle=CI, square=SQ, triangle=TR, cross=CR) and 2 novel shapes (novel triangle=NT, novel cross=NC) using each of the three mediums, resulting in 18 shape copies per participant (1 for each shape/medium combination)

* Draw-a-person: They also drew a person using each of the three mediums (3 person drawings per participant). 


#### Drawing Study 2: Repeated Shapes Across Media (RSAM)

* Mediums: Children drew 1 familiar-novel shape pair using each of the 3 mediums from Study 1 (marker on paper, stylus on tablet, finger on tablet). The shapes were copied 3 times in a row (e.g., 3 squares followed by 3 novel squares on a single medium). The result was 18 drawings per child. 

* Some children also drew one person at the end of the study during free draw, using a medium of their choice (they first chose a surface, then the marker/stylus was placed on the table).

There are DAP images for the following children:

RSAM005, RSAM008, RSAM009, RSAM010, RSAM011, RSAM012, RSAM013, RSAM019, RSAM020, RSAM021, RSAM022, RSAM023, RSAM024, RSAM026 (photo of ipad), RSAM027 (photo of ipad), RSAM028 (photo of ipad), RSAM029, RSAM030, RSAM031, RSAM032, RSAM036, RSAM037, RSAM038, RSAM039 (photo of ipad), RSAM040

Of these there is metadata (no asq, but age and some technology questions) for RSAM008, RSAM009, RSAM010, RSAM011, RSAM012, RSAM013

* No Drawing Study #2 RSAM participants images were used in NEXT.


#### Drawing Study 3: Drawing 2D and 3D Objects and Renderings 
-- Study 3 also had children draw-a-person, which produced drawings used in our overall DAP analysis 

* Mediums: Children and adults copied simple shapes using each of three mediums (marker on paper, stylus on tablet, finger on tablet). 

* One 2D rendering was assigned to the marker-paper condition and the other was assigned to the two tablet conditions (stylus and finger). The opposite shape was used for 3D object drawings (e.g., if the paper condition has 2D cube and 3D cylinder, then the two tablet conditions have 3D cube and 2D cylinder).  
 
* For Study 3 DAP images, children drew one person at the end of the study during free draw, using a medium of their choice (they first chose a surface, then the marker/stylus was placed on the table to use if they wanted). 



#### Missing Data - DAP

Participants had metadata but no useable DAP images for NEXT
DAM00T1, DAM067, DAM3D001, DAM3D004, DAM3D017, DAM3D019, DAM3D028, DAM3D035, DAM3D042, DAM3D049, DAM3D052, DAM3D053, DAM3D054, DAM3D055, DAM3D057, DAM3D068, DAM3D071


IDs for participant images used in NEXT, but missing aligned participant metadata
DAM3D002, DAM3D005, DAM3D011, DAM3D012, DAM3D015, DAM3D026, DAM3D029, DAM3D030, DAM3D037, DAM3D039, DAM3D040, DAM3D058, DAM3D061, DAM3D066


### Code Book for Analysis Critical Elements

#### Code Book for Metadata

QC - Qualtrics Coding
* e.g., QC_personL1 - medium1_drawperson_left

SC - ShapeCoding
* e.g., SC_f_c - ShapeCoding_Finger_Circle

DP - Draw-A-Person
* DP_f_head - DrawPerson_Finger_head

PS - Parent Survey

* id - participant ID
* female - sex (1 = yes; 0 = no)
* adult - (1 = yes; 0 = no)
* child - (1 = yes; 0 = no)
* mediaTypeP - Paper   
* mediaTypeT - Tablet   
* age_yr - age in year
* QC_grip_maxLR - grip_max_bothhands
* QC_pinch_maxLR - pinch_max_bothhands  
* QC_catch_sumLRB - catch_sum_trial1-3_left+right+both
* QC_throw_sumLRB - throw_sum_trial1-3_left+right+both
* PS_p_age - ParentSurvey_ParentAge_Years
* PS_p_edu - ParentSurvey_ParentEdu_Years
* PS_p_ses - ParentSurvey_SES 
* PS_eth_asian - ParentSurvey_Child_Ethnicity_Asian  
* PS_eth_black - ParentSurvey_Child_Ethnicity_Black
* PS_eth_cauc - ParentSurvey_Child_Ethnicity_Causian 
* PS_eth_hisp - ParentSurvey_Child_Ethnicity_Hispanic
* PS_eth_yother - ParentSurvey_Child_Ethnicity_Other 
* asq_total - Ages & Stages Questionnaires: A Parent-Completed Child Monitoring System sum of scores for (asq_communication, asq_grossmotor, asq_finemotor, asq_problemsolving, asq_personalsocial)


#### Code Book for NEXT output 

* Subject IDs for children are "DAM" followed by 3-digit number (e.g., DAM001). Subject IDs for adults are "DAMa" followed by 3-digit number (e.g., DAMa001). 
* marker on paper - (_P_)
* stylus on tablet - (_T_)
* finger on tablet - (_F_)

* Participant.ID - NEXT generated ID -- different from MTurk ID
* Timestamp - Date of participation -- stub.yaml requires a very specific format, script may need adjustment given potential .csv adjustments in Excel 
* Center - Image presented at top center -- images that the other two images are compared against for similarity judgement
* Left - Image presented at bottom left
* Right - Image presented at bottom right 
* Answer - Image participants chose as most similar to Center image
* Alg.label - All set to Test initially, these are adjusted to include 90% training designation and 10% test to create a hold out set for model fit comparisons
* Response.Time..s. - Response time for individual triplet set
* Participant.ID.sub - NEXT generated ID minus experimentID
* Condition - Name given to Study within this script
* Session - - NEXT generated ID experimentID

#### Setting CRAN to load packages (Might be necessary depending on how jupyter is loaded)

In [3]:
options(repos=structure(c(CRAN="https://rweb.crmda.ku.edu/cran/")))

#### In the event of Jupyter Notebook Kernal issues run the following

In [4]:
#R.Version()

In [5]:
#install.packages('IRkernel')
#IRkernel::installspec()

In [6]:
#update.packages('IRkernel')

In [7]:
#R.Version()

#### Loading packages used in analysis, plots, data managment

In [8]:
haspackage = require("tidyverse") # used for data structure codes
if (haspackage==FALSE){
  install.packages("tidyverse")
    }

haspackage = require("irr") # used for inter-rater reliabiliity 
if (haspackage==FALSE){
  install.packages("irr")
    }

library(tidyverse) 
library(irr)

Loading required package: tidyverse
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.4
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   1.0.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
Warning message:
“package ‘purrr’ was built under R version 3.6.2”── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Loading required package: irr
Loading required package: lpSolve

#### Setting R to file where data is stored

In [9]:
#PC - must map network Z drive to rogerslab.drive.wisc.edu first
#setwd("Z:/NEXT/NEXTdrawings/Data/Metadata")

#Mac - must connect to rogerslab.drive.wisc.edu first
setwd("/Volumes/rogerslab/NEXT/NEXTdrawings/Data/Metadata")

#laptop
#setwd("/Users/clintjensen/NEXT/NEXTdrawingsDownloads/Data/Metadata")

In [10]:
Server_data <- list.files(pattern=".csv", full.names = TRUE)

In [11]:
#output of files on server
Server_data

[1] "./brief12_DataAssembly.csv"
[2] "./DAP brief12_January 27, 2020_15.47.csv"
[3] "./data1_DataAssembly.csv"
[4] "./data3_DataAssembly.csv"
[5] "./Study 1 DAM masterdata053117.csv"
[6] "./Study 2 RSAM Parent Survey.csv"
[7] "./Study 3 DAM3D Parent Survey_CJ_Update.csv"
[8] "./Study 3 DAM3D Parent Survey.csv"

#### Reading in data files

In [12]:
#reading in data files
data1 <- read.csv("Study 1 DAM masterdata053117.csv", header=TRUE)

In [13]:
#reading in data files
data3 <- read.csv("Study 3 DAM3D Parent Survey_CJ_Update.csv", header=TRUE)

In [14]:
#reading in data files
brief12 <- read.csv("DAP brief12_January 27, 2020_15.47.csv", header=TRUE)

#### adjusting Study 1 data

In [15]:
# Addressing missing child / adult coding
data1[data1$id=="DAMA001", "child"] <- 0
data1[data1$id=="DAMA001", "adult"] <- 1

# Addressing missing child / adult coding
data1[data1$id=="DAM065", "child"] <- 1
data1[data1$id=="DAM065", "adult"] <- 0

In [16]:
#Removing participant that doesn't have a matching image file (possibly because of an error in naming)
data1<- data1 %>%
  filter(!((id == "DAM00T1")))

In [17]:
# list rows of data that have missing values
#data1[!complete.cases(data1$child),]

#### renaming Study 3 data from Qualtrics to match Study 1 column names

In [18]:
#renaming Study 3 data from Qualtrics to match Study 1
#exception is last value "Age_in_months"="Age" -- in Qualtrics the Age variable was Age in Months, which Study 1 doesn't have
data3<- data3 %>% rename("id"="Q385", "PS_p_age"="Q389", "PS_p_edu"="Q391", "PS_p_merital"="Q393","PS_p_house"="Q395",
                       "PS_p_ses"="Q397_1","PS_c5_age"="Q399_5","PS_c1_age"="Q399_1","PS_c2_age"="Q399_2",
                       "PS_c3_age"="Q399_3","PS_c4_age"="Q399_4","PS_c5_age"="Q399_5","PS_c_dob_mm"="Q401.1_1",
                       "PS_c_dob_dd"="Q401.2_1","PS_c_dob_yy"="Q401.3_1","PS_eth_asian"="Q405_2","PS_eth_black"="Q405_3",
                       "PS_eth_cauc"="Q405_4","PS_eth_hisp"="Q405_5","PS_eth_native"="Q405_6","PS_eth_other"="Q405_7",
                       "PS_freq_marker_paper"="Q453_1","PS_freq_crayon_paper"="Q453_2","PS_freq_pens_paper"="Q453_3",
                       "PS_freq_pencil_paper"="Q453_4","PS_freq_finger_ipad"="Q453_5","PS_freq_stylus_ipad"="Q453_6",
                       "PS_freq_chalk_pavement"="Q453_7","PS_freq_otherd"="Q453_8","PS_enjoy_traditional"="Q455_1",
                       "PS_enjoy_electronic"="Q455_2","PS_min_traditional"="Q457_1","PS_min_electornic"="Q457_2",
                       "PS_yesterday"="Q409","PS_ymin_video"="Q411_1","PS_ymin_computer"="Q411_2",
                       "PS_ymin_internet"="Q411_3","PS_ymin_videochat"="Q411_4","PS_ymin_cellphone"="Q411_5",
                       "PS_ymin_xbox"="Q411_6","PS_ymin_nintendo"="Q411_7","PS_ymin_kindle"="Q411_8",
                       "PS_ymin_touchscreen"="Q411_10","PS_ymin_usual"="Q413","PS_outside_care"="Q415",
                       "PS_num_tv"="Q417_1","PS_num_desktop"="Q417_2","PS_num_laptop"="Q417_3","PS_num_xbox"="Q417_4",
                       "PS_num_nintendo"="Q417_5","PS_num_tablet"="Q417_6", "PS_num_smartphone"="Q417_7",
                       "PS_num_othertouch"="Q417_8","PPS_allow_touch"="Q419","PS_comment"="Q459","Age_in_months"="Age", 
                       "Gender" = "Gender")

<span style="color:blue"> There are 53 unique ids in total, but there is a fair amount of missing data in Study 3. Not all kids produced DAP drawings, and some kids who produced DAP drawings are missing their demographic information.

#### Removing cells that aren't part of this analysis

In [19]:
#removing Qualtrics columns that print out at the start of data
data3 <- data3 %>% select(-(StartDate:DistributionChannel))

In [20]:
#removing two Qualtrics rows that print out question and produce a Qualtrics ImportID 
data3 <- data3[-c(1:2),]

In [21]:
#removing row that Qualtrics inserts
data3 <- data3 %>% filter(!((id=="TEST ONLY")))

In [22]:
#removing mostly empty cells of qualitative questions that were at end of Study 3 survey and aren't part of analysis
data3 <- data3 %>% select(-(X18Comm1:SC0))

#### Adding in Participants that aren't included in Study 3 Metadata

In [23]:
Study3.missingParticipants <-rbind("DAM3D002", "DAM3D005", "DAM3D011", "DAM3D012", "DAM3D026",
                                        "DAM3D029", "DAM3D030", "DAM3D037", "DAM3D039", "DAM3D040",
                                        "DAM3D058", "DAM3D061", "DAM3D066")

In [24]:
Study3.missingParticipants<- as.data.frame(Study3.missingParticipants)
Study3.missingParticipants<- rename(Study3.missingParticipants, id = V1)

In [25]:
data3 <- bind_rows(data3, Study3.missingParticipants)

Warning message in bind_rows_(x, .id):
“Unequal factor levels: coercing to character”Warning message in bind_rows_(x, .id):
“binding character and factor vector, coercing into character vector”Warning message in bind_rows_(x, .id):
“binding character and factor vector, coercing into character vector”

#### adjusting brief12 data

In [26]:
#renaming brief12 data from generic Qualtrics column assignment to understandable values
brief12 <- brief12 %>% rename("RA_initials"="Q5", "imageID"="Q3", "RA_Head"="Q1_1", "RA_Ears"="Q1_2","RA_Eyes"="Q1_3",
                              "RA_Nose"="Q1_4", "RA_Mouth"="Q1_5","RA_Body"="Q1_6","RA_Arms"="Q1_7","RA_Hands"="Q1_8",
                              "RA_Legs"="Q1_9","RA_Feet"="Q1_10","RA_Clothes"="Q1_11","RA_Hair"="Q1_12","RA_notes"="Q4")

In [27]:
#removing Qualtrics columns that print out at the start of data
brief12 <- brief12 %>% select(-(StartDate:UserLanguage))

#removing two Qualtrics rows that print out question and produce a Qualtrics ImportID 
brief12 <- brief12[-c(1:2),]

#### RA Notes for Brief 12

In [28]:
unique(brief12$RA_notes)

 [1] Female
 [2] female
 [3]
 [4] male
 [5] lots of scribbles
 [6] has human form so not class A - 2, but scribbled out
 [7] female - shoulders up
 [8] male, shoulders up
 [9] female, shoulders up
[10] male, hat, one arm
[11] female, hands behind back
[12] unsure if really hair
[13] male, chest up
[14] female, eyebrows
[15] female, head only, glasses
[16] female, head only, eyebrows
[17] male, neck up
[18] female, chest up, eyebrows
[19] male, chest up, eyebrows
[20] female, glasses
[21] Class A - 1
[22] dismembered
[23] Class A - 2
[24] borderline Class A - 2
[25] clothing + gender questionable
[26] female, arms + clothing questionable
[27] hair questionable
[28] teeth present
[29] head detached
[30] legs detached
[31] mouth drawn sideways between eyes
[32] unsure if legs or half of trunk
[33] borderline Class A - 2 (scribbles, one arm, one leg, clothing questionable)
[34] no neck
[35] 4 legs, speech bubble present
[36] 4 legs, appears to be a tail
[37] eyebrows
[38] female - clothing and trunk are questionable
[39] clothing and trunk questionable
[40] AS
[41] male, unsure if half of trunk or legs
[42] male, four legs
[43] lots of scribbles on face, but no discernible features
[44] single dot on face that could not be made out as a specific feature, protrusions coming off of legs
[45] glasses but no visible eyes, body is separated from head
[46] body is a series of separated circles
[47] one eye is not on face, body is a series of separate circles
[48] one foot
[49] female, scribbles but nothing identifiable as legs under body
[50] feet questionable
[51] many separate segments of body - borderline Class A - 2
[52] head, trunk, legs all separate
[53] male, 4 legs
[54] face is scribbles
[55] 4 legs
[56] head and legs separate from trunk
[57] no neck, legs and one arm separate from trunk
[58] concentric semi-circles around head but not a body
[59] female, concentric semi-circles come out from head, but no body
[60] facial features are hard to discriminate
[61] dot on face that could be nose, but was not between two eyes and mouth
[62] female, facial features not in correct positions
[63] tail?
[64] one hand
[65] lines coming out of center that are disconnected from body
[66] female, bow in hair?
[67] swirly line present in center of person that is body-like, but not classified as a body
[68] several parts present, but all disconnected from each other
[69] legs separated from head
[70] shoulders up
[71] female, disproportionate limbs
[72] teeth
[73] male, one foot
[74] male, eyebrows, shoulders up
[75] male, disproportionate limbs
[76] male, glasses, ears detached?
[77] female, legs questionable
[78] unsure if legs or top half of trunk
[79] female, unsure if legs or top half of trunk
[80] arms questionable
[81] belly button?
[82] female, feet same as hands (forked), mongolian armor??
[83] scribbled
[84] female, wearing glasses
[85] male, head detached from body
[86] male, wearing a hat
[87] female, looks like there is a cat in her lap
[88] male, wearing hat, speaking
90 Levels:  {"ImportId":"QID4_TEXT"} 4 legs ... Write any notes concerning image here:\n \n\n\nClass A. Preliminary Stage in which the drawing cannot be recognized as a human figure:\n\n1.     Aimless uncontrolled scribbling – score 1.  \n\n2.     Lines somewhat controlled – approaches crude geometrical form – score 2.\n\n \n\nThese should be documented as: 'Class A - 1' for a scribble 'Class A - 2' for a form that isn't clearly a human figure, but also isn't just a scribble\n\n \n\n \n\nGender.\n\nMostly this will be cases where the image appears to be female. (female/male)\n\n \n\nOtherwise, make note of things that seem to warrant review, or cases that blur the boundaries, but don't feel the need to make a note for all images.

In [29]:
brief12$RA_notesAdj<- ifelse(brief12$RA_notes == "Female", "Female",
                        ifelse(brief12$RA_notes == "female", "Female",  
                        ifelse(brief12$RA_notes == "female - shoulders up", "Female", 
                        ifelse(brief12$RA_notes == "female, shoulders up", "Female", 
                        ifelse(brief12$RA_notes == "female, hands behind back", "Female", 
                        ifelse(brief12$RA_notes == "female, eyebrows", "Female",        
                        ifelse(brief12$RA_notes == "female, head only, glasses", "Female", 
                        ifelse(brief12$RA_notes == "female, head only, eyebrows", "Female",  
                        ifelse(brief12$RA_notes == "female, chest up, eyebrows", "Female", 
                        ifelse(brief12$RA_notes == "female, glasses", "Female",  
                        ifelse(brief12$RA_notes == "female, arms + clothing questionable", "Female", 
                        ifelse(brief12$RA_notes == "female - clothing and trunk are questionable", "Female", 
                        ifelse(brief12$RA_notes == "female, scribbles but nothing identifiable as legs under body", "Female", 
                        ifelse(brief12$RA_notes == "female, concentric semi-circles come out from head, but no body", "Female", 
                        ifelse(brief12$RA_notes == "female, facial features not in correct position", "Female", 
                        ifelse(brief12$RA_notes == "female, bow in hair?", "Female", 
                        ifelse(brief12$RA_notes == "female, disproportionate limbs", "Female", 
                        ifelse(brief12$RA_notes == "female, legs questionable", "Female", 
                        ifelse(brief12$RA_notes == "female, unsure if legs or top half of trunk", "Female", 
                        ifelse(brief12$RA_notes == "female, feet same as hands (forked), mongolian armor??", "Female", 
                        ifelse(brief12$RA_notes == "female, wearing glasses", "Female",      
                        ifelse(brief12$RA_notes == "female, looks like there is a cat in her lap", "Female", 

                                          "Male or Unspecified"))))))))))))))))))))))

In [30]:
# how many of the images appear to be visually female?
aggregate(imageID~ RA_notesAdj, data=brief12, FUN=function(x) length(unique(x))/2)

  RA_notesAdj         imageID
1 Female               44.5
2 Male or Unspecified 119.5

<span style="color:blue"> Numbers above are based on RAs percieved judgements about the number of images that could be classified as 'Female'.
 
 Notes:  
* Sometimes the experimenter asked the students to draw their mommy or a teacher rather than simply asking them to draw a person.
* Both VGG-19 and the Dueling Bandits may have been impacted by this gendering. VGG-19 may pick up on visual features that suggest the female gender, while M-Turkers may inadvertently make selections about similarity based on percieved gender.

#### Fixing image ids for a few image labels in the brief12

In [31]:
brief12$imageID <- str_replace(brief12$imageID, "DAM001_F_DAPedit.jpg", "DAM001_F_DAPedit")
brief12$imageID <- str_replace(brief12$imageID, "DAM001_P_DAPedit.jpg", "DAM001_P_DAPedit")
brief12$imageID <- str_replace(brief12$imageID, "DAM001_T_DAPedit.jpg", "DAM001_T_DAPedit")
brief12$imageID <- str_replace(brief12$imageID, "DAM002_F_DAPedit.jpg", "DAM002_F_DAPedit")
brief12$imageID <- str_replace(brief12$imageID, "DAM002_P_DAPedit.jpg", "DAM002_P_DAPedit")
brief12$imageID <- str_replace(brief12$imageID, "DAM002_T_DAPedit.jpg", "DAM002_T_DAPedit")
brief12$imageID <- str_replace(brief12$imageID, "DAM3D026_DAPedit", "DAM3D026_P_DAPedit")
brief12$imageID <- str_replace(brief12$imageID, "DAM3D058_P _DAPedit", "DAM3D058_P_DAPedit")
brief12$imageID <- str_replace(brief12$imageID, "DAM065_F_DAPedt", "DAM065_F_DAPedit")
brief12$imageID <- str_replace(brief12$imageID, "DAM3D069_P _DAPedit", "DAM3D069_P_DAPedit")
brief12$imageID <- str_replace(brief12$imageID, "DAMa015_DAPedit", "DAMa015_T_DAPedit")

# DAM3D060_P _DAPedit fixed in different script
#brief12$imageID <- str_replace(brief12$imageID, "DAM3D060_P _DAPedit", "DAM3D060_P_DAPedit")

#### Adjusting brief12 RA_initials for Pw as PW

In [32]:
brief12$RA_initials <- ifelse(brief12$RA_initials == "Pw", "PW",
                            ifelse(brief12$RA_initials == "PW", "PW",      
                                   ifelse(brief12$RA_initials == "AS", "AS", "Check")))

#### Replacing brief12 responses 'Yes' = 1, 'No' = 0

In [33]:
# brief12 replacing 'Yes' = 1, 'No' = 0


brief12$RA_Head <- ifelse(brief12$RA_Head == "Yes", 1,
               ifelse(brief12$RA_Head =="No", 0, NA))

brief12$RA_Ears <- ifelse(brief12$RA_Ears == "Yes", 1,
               ifelse(brief12$RA_Ears =="No", 0, NA))
                                        
brief12$RA_Eyes <- ifelse(brief12$RA_Eyes == "Yes", 1,
               ifelse(brief12$RA_Eyes =="No", 0, NA))
                                         
brief12$RA_Nose <- ifelse(brief12$RA_Nose == "Yes", 1,
               ifelse(brief12$RA_Nose =="No", 0, NA))
                                         
brief12$RA_Mouth <- ifelse(brief12$RA_Mouth == "Yes", 1,
               ifelse(brief12$RA_Mouth =="No", 0, NA))
                                          
brief12$RA_Body <- ifelse(brief12$RA_Body == "Yes", 1,
               ifelse(brief12$RA_Body =="No", 0, NA))
                                          
brief12$RA_Arms <- ifelse(brief12$RA_Arms == "Yes", 1,
               ifelse(brief12$RA_Arms =="No", 0, NA))
                                           
brief12$RA_Hands <- ifelse(brief12$RA_Hands == "Yes", 1,
               ifelse(brief12$RA_Hands =="No", 0, NA))
                                          
brief12$RA_Legs <- ifelse(brief12$RA_Legs == "Yes", 1,
               ifelse(brief12$RA_Legs =="No", 0, NA))
                                      
brief12$RA_Feet <- ifelse(brief12$RA_Feet == "Yes", 1,
               ifelse(brief12$RA_Feet =="No", 0, NA))
                                         
brief12$RA_Clothes <- ifelse(brief12$RA_Clothes == "Yes", 1,
               ifelse(brief12$RA_Clothes =="No", 0, NA))
                                           
brief12$RA_Hair <- ifelse(brief12$RA_Hair == "Yes", 1,
               ifelse(brief12$RA_Hair =="No", 0, NA))

In [34]:
#Creating a dataframe for NEXTdrawings Analysis notebook
#data3_IDsCount<- data3

In [35]:
#write.table(data3_IDsCount, "data3_IDsCount.csv", sep=",", col.names=T, row.names=F)

### Adding column to mark studies

In [36]:
data1 <- add_column(data1, Study = "One")
data3 <- add_column(data3, Study = "Three")

In [37]:
#Participants that don't have drawings will have this value shifted to 0
data1 <- add_column(data1, HasDrawing = 1)
data3 <- add_column(data3, HasDrawing = 1)

### Selecting useful variables for analysis

In [38]:
#Selecting useful variables for analysis - Study 1
data1 <- select(data1,id,age_yr,female, child,
                        QC_grip_maxLR, QC_pinch_maxLR, QC_catch_sumLRB, QC_throw_sumLRB,
                        DP_f_head:DP_s_total, PS_p_age, PS_p_edu, PS_p_ses, PS_ethnicity:PS_eth_other,
                PS_ymin_usual, PS_freq_ipod:PS_freq_other, PS_min_electornic,
               PS_freq_marker_paper:PS_freq_otherd, PS_enjoy_traditional,PS_enjoy_electronic,
               asq_total:asq_personalsocial, Study, HasDrawing)

In [39]:
#Selecting useful variables for analysis - Study 3

###Not in Study 3###
#age_yr,female, adult, child, 
#QC_grip_maxLR, QC_pinch_maxLR, QC_catch_sumLRB, QC_throw_sumLRB,
#SC_pcp_f:DP_s_total, PS_freq_ipod:PS_freq_other
#asq_total:asq_personalsocial


data3 <- select(data3,id,Age_in_months, Gender,       
                         PS_p_age, PS_p_edu, PS_p_ses, PS_eth_asian:PS_eth_other,
                PS_ymin_usual, PS_min_electornic,
               PS_freq_marker_paper:PS_freq_otherd, PS_enjoy_traditional,PS_enjoy_electronic, Study, HasDrawing)

### Adjusting Data to common form across data sets

#### renaming Study 1 Adult data from Qualtrics to match image names for Study 1

In [40]:
#naming convention switched to lower case 'a' to signify adult
data1$id <- recode(data1$id, "DAMA001"="DAMa001")
data1$id <- recode(data1$id, "DAMA002"="DAMa002")
data1$id <- recode(data1$id, "DAMA003"="DAMa003")
data1$id <- recode(data1$id, "DAMA004"="DAMa004")
data1$id <- recode(data1$id, "DAMA005"="DAMa005")
data1$id <- recode(data1$id, "DAMA006"="DAMa006")
data1$id <- recode(data1$id, "DAMA007"="DAMa007")
data1$id <- recode(data1$id, "DAMA008"="DAMa008")
data1$id <- recode(data1$id, "DAMA009"="DAMa009")
data1$id <- recode(data1$id, "DAMA010"="DAMa010")
data1$id <- recode(data1$id, "DAMA011"="DAMa011")
data1$id <- recode(data1$id, "DAMA012"="DAMa012")
data1$id <- recode(data1$id, "DAMA013"="DAMa013")
data1$id <- recode(data1$id, "DAMA014"="DAMa014")
data1$id <- recode(data1$id, "DAMA015"="DAMa015")
data1$id <- recode(data1$id, "DAMA016"="DAMa016")
data1$id <- recode(data1$id, "DAMA017"="DAMa017")
data1$id <- recode(data1$id, "DAMA018"="DAMa018")
data1$id <- recode(data1$id, "DAMA019"="DAMa019")
data1$id <- recode(data1$id, "DAMA020"="DAMa020")
data1$id <- recode(data1$id, "DAMA021"="DAMa021")
data1$id <- recode(data1$id, "DAMA022"="DAMa022")
data1$id <- recode(data1$id, "DAMA023"="DAMa023")
data1$id <- recode(data1$id, "DAMA024"="DAMa024")
data1$id <- recode(data1$id, "DAMA025"="DAMa025")

#### Addressing missing data for a single participant for Study 3

In [41]:
# Addressing missing data for a single participant
data3[data3$id=="DAM3D001", "PS_min_electornic"] <- NA
data3[data3$id=="DAM3D001", "PS_freq_marker_paper"] <- NA
data3[data3$id=="DAM3D001", "PS_freq_crayon_paper"] <- NA
data3[data3$id=="DAM3D001", "PS_freq_pens_paper"] <- NA
data3[data3$id=="DAM3D001", "PS_freq_pencil_paper"] <- NA
data3[data3$id=="DAM3D001", "PS_freq_finger_ipad"] <- NA
data3[data3$id=="DAM3D001", "PS_freq_stylus_ipad"] <- NA
data3[data3$id=="DAM3D001", "PS_freq_chalk_pavement"] <- NA
data3[data3$id=="DAM3D001", "PS_freq_otherd"] <- NA
data3[data3$id=="DAM3D001", "PS_enjoy_traditional"] <- NA
data3[data3$id=="DAM3D001", "PS_enjoy_electronic"] <- NA

#### Creating 'Gender' (coded: Female, Male) and 'female' (coded: female = 1, male = 0) variables so data sets match

In [42]:
data1 <- data1 %>% 
  mutate(Gender = female)

In [43]:
# Changing variable name to account for different versions of Gender name in excel format data
data1$Gender <-ifelse(data1$Gender ==  1, "Female",
                                ifelse(data1$Gender == 0,"Male","Check"))

In [44]:
data3 <- data3 %>% 
  mutate(female = Gender)

In [45]:
# Changing variable name to account for different versions of Gender name in excel format data
data3$female <-ifelse(data3$female == "Female", 1,
                                ifelse(data3$female =="Male", 0,"Check"))

#### Uniting all ethnicity variables into 1 column

In [46]:
data3 <- data3 %>% 
  unite(PS_ethnicity,"PS_eth_asian","PS_eth_black","PS_eth_cauc","PS_eth_hisp",
        "PS_eth_native","PS_eth_other", sep = "")

In [47]:
#replacing united NA's with one NA
data3$PS_ethnicity <- recode(data3$PS_ethnicity, 'NANANANANANA' = "NA")

#### Adding Child and Adult columns to match Study 1

In [48]:
data3$child <- 1
data3$adult <- 0

#### Creating age_yr column using the Age_in_months values

In [49]:
data3 <- data3 %>% 
  mutate(age_yr = Age_in_months)

#### Coverting age_yr to a character value so that it can then be converted into a numeric value

In [50]:
data3$age_yr <- as.numeric(as.character(data3$age_yr))

#### Dividing age_yr by 12

In [51]:
data3 <- data3 %>% 
  mutate_at(vars(starts_with("age_yr")), list(~./12))

#### Rounding age_yr to 2 decimals

In [52]:
data3 <- data3 %>% 
  mutate_at("age_yr", round, 2)

#### Creating numeric age variables that round up to a single value for each Study

In [53]:
# Creating a Rounded Decimal Age factor
data1$AgeRound<-round(as.numeric(as.character(data1$age_yr)))
# Creating a Rounded Decimal Age factor
data3$AgeRound<-round(as.numeric(as.character(data3$age_yr)))

#### Adjusting value to 0 for Participants that no useable DAP images for NEXT

Participants that had may have metadata but no useable DAP images for NEXT
* Study 1: DAM067 
* Study3: DAM3D001, DAM3D004, DAM3D017, DAM3D019, DAM3D028, DAM3D035, DAM3D042, DAM3D049,
 DAM3D052, DAM3D053, DAM3D054, DAM3D055, DAM3D057, DAM3D068, DAM3D071

In [54]:
#Adjusting value to 0 for Participants that no useable DAP images for NEXT - Study 1

data1[data1$id=="DAM067", "HasDrawing"] <- 0

In [55]:
#Adjusting value to 0 for Participants that no useable DAP images for NEXT - Study 3

data3[data3$id=="DAM3D001", "HasDrawing"] <- 0
data3[data3$id=="DAM3D004", "HasDrawing"] <- 0
data3[data3$id=="DAM3D010", "HasDrawing"] <- 0
data3[data3$id=="DAM3D017", "HasDrawing"] <- 0
data3[data3$id=="DAM3D019", "HasDrawing"] <- 0
data3[data3$id=="DAM3D028", "HasDrawing"] <- 0
data3[data3$id=="DAM3D035", "HasDrawing"] <- 0
data3[data3$id=="DAM3D042", "HasDrawing"] <- 0
data3[data3$id=="DAM3D049", "HasDrawing"] <- 0
data3[data3$id=="DAM3D052", "HasDrawing"] <- 0
data3[data3$id=="DAM3D053", "HasDrawing"] <- 0
data3[data3$id=="DAM3D054", "HasDrawing"] <- 0
data3[data3$id=="DAM3D055", "HasDrawing"] <- 0
data3[data3$id=="DAM3D057", "HasDrawing"] <- 0
data3[data3$id=="DAM3D068", "HasDrawing"] <- 0
data3[data3$id=="DAM3D071", "HasDrawing"] <- 0

#### Fixing image id for a Study 3 participant

In [56]:
#fixing missing study number in an id *Note - this is important given that DAM015 is a participant ID in Study 1
data3$id <- str_replace(data3$id, "DAM015", "DAM3D015")

### Export data file

In [57]:
write.table(data1, "data1_DataAssembly.csv", sep=",", col.names=T, row.names=F)
write.table(data3, "data3_DataAssembly.csv", sep=",", col.names=T, row.names=F)

#This notebook is useful for considering apparent gender issues, etc.
write.table(brief12, "brief12_DataAssembly.csv", sep=",", col.names=T, row.names=F)

#### Duplicating column to maintain png name

In [58]:
brief12 <- brief12 %>% 
  mutate(pngName = imageID)

# Participant Overview

### Study 1

In [59]:
# how many total unique ids in Study 1?
aggregate(id ~ id, data=data1, FUN=function(x) length(unique(x)))

  id
1 106

In [60]:
# how many total participants in Study 1?
aggregate(id ~ id + child + HasDrawing, data=data1, FUN=function(x) length(unique(x)))

  child HasDrawing id
1 1     0           1
2 0     1          25
3 1     1          80

<span style="color:blue"> 25 adults and 81 kids - 1 child (DAM067) doesn't have DAP images

In [61]:
# how many total participants based on age in Study 1?
aggregate(id ~ id + Gender +AgeRound, data=data1, FUN=function(x) length(unique(x)))

   Gender AgeRound id
1  Female  2        7
2  Male    2        7
3  Female  3       10
4  Male    3        6
5  Female  4       18
6  Male    4       11
7  Female  5       12
8  Male    5        2
9  Female  6        1
10 Male    6        3
11 Female  7        1
12 Female  8        2
13 Female 19        2
14 Male   19        1
15 Female 20        7
16 Female 21        6
17 Male   21        2
18 Female 22        3

<span style="color:blue"> There are fewer older Male children. For example there are 15 girls 5-8, but only 5 boys in the age range.

In [62]:
# how many total participants by Gender in Study 1?
aggregate(id ~ id+Gender+child, data=data1, FUN=function(x) length(unique(x)))

  Gender child id
1 Female 0     19
2 Male   0      5
3 Female 1     51
4 Male   1     29

<span style="color:blue"> Most of the adults (coded 0) are female. Likewise, the majority of children are female

In [63]:
# how many total participants have an Ages & Stages Questionnaires (asq_total)
asq_count <- aggregate(id ~ asq_total, data=data1, FUN=function(x) length(unique(x)))

In [64]:
sum(asq_count$id)

[1] 45

<span style="color:blue"> 45 out of 81 kids data include an Ages & Stages Questionnaires (asq_total) total

In [65]:
#how many total participants by Ethnicity in Study 1?
aggregate(id ~ id+PS_ethnicity, data=data1, FUN=function(x) length(unique(x)))

  PS_ethnicity      id
1 asian              5
2 black              1
3 cauc              36
4 cauc_black_native  1
5 cauc_hisp          1
6 cauc_other         1
7 hisp               4
8 other              1

### Study 3

In [66]:
# how many total participants in study 3 that produced DAP drawings?
aggregate(id ~ id + child + HasDrawing, data=data3, FUN=function(x) length(unique(x)))

  child HasDrawing id
1 1     0          16
2 1     1          49

<span style="color:blue"> 65 kids - 16 childred don't have DAP images

In [67]:
# how many total participants by Gender in Study 3?
aggregate(id ~ id+Gender, data=data3, FUN=function(x) length(unique(x)))

  Gender id
1 Female 32
2 Male   20

<span style="color:blue"> Not all participants have metadata concerning gender so these numbers aren't a complete reflection of the sample.

In [68]:
#how many total participants by Ethnicity in Study 3?
aggregate(id ~ id+PS_ethnicity, data=data3, FUN=function(x) length(unique(x)))

  PS_ethnicity                           id
1 Asian/Pacific Islander                  1
2 Black/African-American                  1
3 Black/African-AmericanCaucasian         1
4 Caucasian                              44
5 CaucasianHispanic                       1
6 CaucasianNative American/Alaska Native  1
7 Hispanic                                1
8 NA                                     14
9 Other                                   1

<span style="color:blue"> Ethnic representation within the sample is likely too low to offer meaningful interpretations for either Study

## Recoding Ethnicity

In [69]:
# recoding cauc as a_cauc to take advantange of R's ordering by alphabeticality
data1$PS_ethnicity.f <-ifelse(data1$PS_ethnicity == "cauc", "a_cauc",
                                ifelse(data1$PS_ethnicity =="asian", "asian",
                                ifelse(data1$PS_ethnicity =="black", "black",
                                ifelse(data1$PS_ethnicity =="hisp", "hisp",
                                ifelse(data1$PS_ethnicity =="other", "other",
                                ifelse(data1$PS_ethnicity =="cauc_hisp", "hisp",
                                ifelse(data1$PS_ethnicity =="cauc_other", "other",
                                ifelse(data1$PS_ethnicity =="cauc_black_native", "black",
                                       "Check"))))))))

In [70]:
# recoding cauc as a_cauc to take advantange of R's ordering by alphabeticality
data3$PS_ethnicity.f <-ifelse(data3$PS_ethnicity == "Caucasian", "a_cauc",
                                ifelse(data3$PS_ethnicity =="Asian/Pacific Islander", "asian",
                                ifelse(data3$PS_ethnicity =="Black/African-American", "black",
                                ifelse(data3$PS_ethnicity =="Black/African-AmericanCaucasian", "black",
                                ifelse(data3$PS_ethnicity =="Hispanic", "hisp",
                                ifelse(data3$PS_ethnicity =="Other", "other",
                                ifelse(data3$PS_ethnicity =="NA", "other",
                                ifelse(data3$PS_ethnicity =="CaucasianHispanic", "hisp",
                                ifelse(data3$PS_ethnicity =="CaucasianNative American/Alaska Native", "other",
                                  "Check")))))))))

In [71]:
#creating the factor variable PS_ethnicity.f
data1$PS_ethnicity.f = factor(data1$PS_ethnicity.f, labels=c("a_cauc", "asian", "black", "hisp", "other"))

In [72]:
data3$PS_ethnicity.f = factor(data3$PS_ethnicity.f, labels=c("a_cauc", "asian", "black", "hisp", "other"))

In [73]:
#Selecting variables for export - Study 1
data1_complete <- select(data1, id, age_yr, AgeRound, female, child,
                        QC_grip_maxLR, QC_pinch_maxLR, QC_catch_sumLRB, QC_throw_sumLRB,
                        DP_f_head:DP_s_total, PS_p_age, PS_p_edu, PS_p_ses, PS_ethnicity:PS_eth_other,
                PS_ymin_usual, PS_freq_ipod:PS_freq_other, PS_min_electornic,
               PS_freq_marker_paper:PS_freq_otherd, PS_enjoy_traditional,PS_enjoy_electronic,
               asq_total:asq_personalsocial, Study, Gender, HasDrawing)

In [74]:
#Selecting useful variables for export and analysis - Study 1

###Not in Study 1 Reduced###
#DP_f_head:DP_s_total, 
#PS_freq_ipod:PS_freq_other,
#asq_communication:asq_personalsocial

data1_reduced <- select(data1,id, age_yr, AgeRound, female, child,
                        QC_grip_maxLR, QC_pinch_maxLR, QC_catch_sumLRB, QC_throw_sumLRB,
                         PS_p_age, PS_p_edu, PS_p_ses, PS_ethnicity, PS_ethnicity.f,
                PS_ymin_usual, PS_min_electornic,
               PS_freq_marker_paper:PS_freq_otherd, PS_enjoy_traditional,PS_enjoy_electronic, 
                        asq_total:asq_personalsocial, Study, Gender, HasDrawing)

In [75]:
#Creating an object with the variables in Study 1 that are missing from Study 3
Study1_variables <- c("QC_grip_maxLR", "QC_pinch_maxLR", "QC_catch_sumLRB", "QC_throw_sumLRB", "DP_f_total", 
                      "DP_p_total", "DP_s_total","asq_total","asq_communication", "asq_grossmotor", 
                      "asq_finemotor", "asq_problemsolving", "asq_personalsocial")

In [76]:
#Inserting columns to match Study 1 and inserting NA values
data3[Study1_variables]<- NA

In [77]:
#Selecting useful variables for export and analysis - Study 3

###Not in Study 3###
#age_yr,female, adult, child, 
#QC_grip_maxLR, QC_pinch_maxLR, QC_catch_sumLRB, QC_throw_sumLRB,
#SC_pcp_f:DP_s_total, PS_freq_ipod:PS_freq_other
#asq_total:asq_personalsocial

data3<- select(data3,id, age_yr, AgeRound, female, child,
                        QC_grip_maxLR, QC_pinch_maxLR, QC_catch_sumLRB, QC_throw_sumLRB,
                         PS_p_age, PS_p_edu, PS_p_ses, PS_ethnicity, PS_ethnicity.f,
                PS_ymin_usual, PS_min_electornic,
               PS_freq_marker_paper:PS_freq_otherd, PS_enjoy_traditional,PS_enjoy_electronic, 
                       asq_total:asq_personalsocial, Study, Gender, HasDrawing)

In [78]:
combinedData1Data3<- rbind(data1_reduced , data3)

In [79]:
#Creating a dataframe for NEXTdrawings Analysis notebook
#write.table(combinedData1Data3, "combinedData1Data3.csv", sep=",", col.names=T, row.names=F)

#### Getting a single rating value for DAP scores

In [80]:
brief12_RA_rating <- brief12 %>%
  mutate(RA_DAP_rating = select(., RA_Head:RA_Hair) %>% apply(1, sum, na.rm=TRUE))

#### Removing underscores from variable names so that elements can be used as independent variables

In [81]:
# separating data based on underscore used in distinguishing common elements among variables
#separate( ) function: #Objective - Splitting a single variable into two
brief12_RA_split <- separate(brief12_RA_rating, imageID, 
                            c("id", "DAP_mediaType","imageLabel"), sep = "_", remove = TRUE, convert = FALSE)

In [82]:
#Creating a single value to reflect average of DAP ratings
RA_DAP_AvgRating <- brief12_RA_split  %>% 
group_by(id, DAP_mediaType) %>%
summarise(RA_DAP_AvgRating = mean(RA_DAP_rating, na.rm = TRUE))

In [83]:
brief12_combined <- left_join(brief12_RA_split,RA_DAP_AvgRating,
                           by=c("id","DAP_mediaType"))

In [84]:
# how many adults = 0, and children = 1 across the Study 1 and 3?
aggregate(id ~ id ,  data=combinedData1Data3, FUN=function(x) length(unique(x)))

  id
1 171

In [85]:
# how many adults = 0, and children = 1 across the Study 1 and 3?
aggregate(id ~ id ,  data=brief12_combined, FUN=function(x) length(unique(x)))

  id
1 154

In [86]:
DAPrating_dataCombined<- left_join(combinedData1Data3,brief12_combined , 
                           by=c("id"))

Warning message:
“Column `id` joining factor and character vector, coercing into character vector”

In [87]:
# how many total participants across the Study 1 and 3?
aggregate(id ~ id + HasDrawing,  data=DAPrating_dataCombined, FUN=function(x) length(unique(x)))

  HasDrawing id
1 0           17
2 1          154

In [88]:
# how many adults = 0, and children = 1 across the Study 1 and 3?
aggregate(id ~ id + child,  data=DAPrating_dataCombined, FUN=function(x) length(unique(x)))

  child id
1 0      25
2 1     146

In [89]:
# how many adults = 0, and children = 1 between Study 1 and 3?
aggregate(id ~ id + child + Study , data=DAPrating_dataCombined, FUN=function(x) length(unique(x)))

  child Study id
1 0     One   25
2 1     One   81
3 1     Three 65

#### creating variable 'asq'

In [90]:
#creating variable 'asq' (has a asq_total score = 1, doesn't have an asq_total score = 0)

DAPrating_dataCombined$asq <- ifelse(DAPrating_dataCombined$asq_total == "NA", 0, 1)

DAPrating_dataCombined$asq [is.na(DAPrating_dataCombined$asq) ] = 0

In [91]:
# how many total participants based on asq and Study?
aggregate(id ~ id + child + asq +Study , data=DAPrating_dataCombined, FUN=function(x) length(unique(x)))

  child asq Study id
1 0     0   One   25
2 1     0   One   36
3 1     1   One   45
4 1     0   Three 65

<span style="color:blue"> 45 kids with an asq_total score, and 101 kids and 25 adults without an asq score

In [92]:
# # how many total participants based on asq, Study and mediaType?
# agOrder <- aggregate(id ~ id + child + DAP_mediaType+ asq  , data=DAPrating_dataCombined, 
#                      FUN=function(x) length(unique(x)))
          
# agOrder[order(agOrder$child), ]

### Export data file

In [93]:
#PC - must map network Z drive to rogerslab.drive.wisc.edu first

#Mac - must connect to rogerslab.drive.wisc.edu first
setwd("/Volumes/rogerslab/NEXT/NEXTdrawings/Data/dataCombined")

#laptop
#setwd("/Users/clintjensen/NEXT/NEXTdrawingsDownloads/NEXTdrawings/Data/combinedData")

In [94]:
#Creating a dataframe for NEXTdrawings Analysis notebook
write.table(DAPrating_dataCombined, "DAPrating_dataCombined.csv", sep=",", col.names=T, row.names=F)

In [95]:
# Shouldn't need these going forward
#write.table(data1_complete, "Study1_complete.csv", sep=",", col.names=T, row.names=F)
#write.table(data1_reduced, "Study1_keyVariables.csv", sep=",", col.names=T, row.names=F)
#write.table(data3, "Study3_keyVariables.csv", sep=",", col.names=T, row.names=F)
#write.table(brief12_RA_rating, "brief12_keyVariables.csv", sep=",", col.names=T, row.names=F)
#write.table(brief12_combined, "brief12_combined.csv", sep=",", col.names=T, row.names=F)

# Bringing in NEXT Data

#### Setting R to file where Embedding data is stored

In [96]:
#PC - must map network Z drive to rogerslab.drive.wisc.edu first

#Mac - must connect to rogerslab.drive.wisc.edu first
setwd("/Volumes/rogerslab/NEXT/NEXTdrawings/Data/NEXTdrawingsData/EmbeddingData")

#laptop
#setwd("/Users/clintjensen/NEXT/NEXTdrawingsDownloads/Data/NEXTdrawingsData/EmbeddingData")

#### Reading in data files

In [97]:
#reading in data files
DAP_NEXT_TripletsXYdata <- read.csv("DAP_NEXT_TripletsXYdata.csv", header=TRUE)
DAP_NEXT_RankEmeddingdata <- read.csv("DAP_NEXT_RankingEmbedding.csv", header=TRUE)

Cube_NEXT_TripletsXYdata <- read.csv("Cube_NEXT_TripletsXYdata.csv", header=TRUE)
Cube_NEXT_RankEmeddingdata <- read.csv("Cube_NEXT_RankingEmbedding.csv", header=TRUE)


Cylinder_NEXT_TripletsXYdata <- read.csv("CYL_NEXT_TripletsXYdata.csv", header=TRUE)
Cylinder_NEXT_RankEmeddingdata <- read.csv("CYL_NEXT_RankingEmbedding.csv", header=TRUE)

In [98]:
# how many adults = 0, and children = 1 across the Study 1 and 3?
aggregate(id ~ id,  data=DAP_NEXT_TripletsXYdata, FUN=function(x) length(unique(x)))

  id
1 154

In [99]:
# how many adults = 0, and children = 1 across the Study 1 and 3?
aggregate(id ~ id,  data=DAP_NEXT_RankEmeddingdata, FUN=function(x) length(unique(x)))

  id
1 154

In [100]:
 # Ordering output based on RankRatio
DAP_NEXT_RankEmeddingdata[order(-DAP_NEXT_RankEmeddingdata$DAP_RankRatio),]

    id       DAP_mediaType DAP_TotalCount DAP_AnswerCount DAP_diff
1   DAMa007  T             63             60              3
2   DAMa025  F             61             58              3
3   DAMa003  F             55             52              3
4   DAMa024  T             52             49              3
5   DAMa022  T             83             78              5
6   DAMa005  F             65             61              4
7   DAMa017  F             64             60              4
8   DAM3D029 P             63             59              4
9   DAM3D015 P             77             72              5
10  DAM3D027 T             57             53              4
11  DAMa022  F             65             60              5
12  DAM3D012 P             64             59              5
13  DAMa025  T             76             70              6
14  DAMa019  T             60             55              5
15  DAMa024  F             58             53              5
16  DAMa013  F             73             66              7
17  DAMa015  T             58             52              6
18  DAMa003  T             55             49              6
19  DAMa004  F             81             72              9
20  DAMa009  F             70             62              8
21  DAMa013  T             76             67              9
22  DAMa007  F             67             59              8
23  DAMa017  T             75             66              9
24  DAM3D060 P             58             51              7
25  DAMa015  F             58             51              7
26  DAM3D039 T             66             58              8
27  DAM3D030 F             72             63              9
28  DAMa006  F             70             61              9
29  DAMa014  T             70             61              9
30  DAMa021  F             69             60              9
⋮   ⋮        ⋮             ⋮              ⋮               ⋮
276 DAM013   P             59             5               54
277 DAM041   T             71             6               65
278 DAM041   F             72             6               66
279 DAM3D022 F             60             5               55
280 DAM022   P             62             5               57
281 DAM072   F             62             5               57
282 DAM070   T             67             5               62
283 DAM065   T             55             4               51
284 DAM073   F             73             5               68
285 DAM041   P             60             4               56
286 DAM059   P             49             3               46
287 DAM057   P             66             4               62
288 DAM043   T             52             3               49
289 DAM082   F             70             4               66
290 DAM084   T             70             4               66
291 DAM082   P             54             3               51
292 DAM010   P             59             3               56
293 DAM057   F             62             3               59
294 DAM071   F             65             3               62
295 DAM070   F             70             3               67
296 DAM065   P             75             3               72
297 DAM074   F             50             2               48
298 DAM049   F             80             3               77
299 DAM084   F             61             2               59
300 DAM083   P             62             2               60
301 DAM010   F             56             1               55
302 DAM015   F             62             1               61
303 DAM044   P             62             1               61
304 DAM073   P             62             1               61
305 DAM015   T             68             1               67
    DAP_RankRatio DAP_rankOrder
1   0.9523810      1
2   0.9508197      2
3   0.9454545      3
4   0.9423077      4
5   0.9397590      5
6   0.9384615      6
7   0.9375000      7
8   0.9365079      8
9   0.9350649      9
10  0.9298246     10
11  0.9230769     11
12  0.9218750     12
13  0.9210526     13
14  0.9166667     14
15  0.9137931     15
16  0.9041096     16
17  0.8965517     17
18  0.8909091     18
19  0.8888889     19
20  0.8857143     20
21  0.8815789     21
22  0.8805970     22
23  0.8800000     23
24  0.8793103     24
25  0.8793103     25
26  0.8787879     26
27  0.8750000     27
28  0.8714286     28
29  0.8714286     29
30  0.8695652     30
⋮   ⋮             ⋮
276 0.08474576    276
277 0.08450704    277
278 0.08333333    278
279 0.08333333    279
280 0.08064516    280
281 0.08064516    281
282 0.07462687    282
283 0.07272727    283
284 0.06849315    284
285 0.06666667    285
286 0.06122449    286
287 0.06060606    287
288 0.05769231    288
289 0.05714286    289
290 0.05714286    290
291 0.05555556    291
292 0.05084746    292
293 0.04838710    293
294 0.04615385    294
295 0.04285714    295
296 0.04000000    296
297 0.04000000    297
298 0.03750000    298
299 0.03278689    299
300 0.03225806    300
301 0.01785714    301
302 0.01612903    302
303 0.01612903    303
304 0.01612903    304
305 0.01470588    305

#### Combining DAP data files

In [101]:
#Combining Triplets and DuelingBandits Embedding data
DAP_NEXT_Data <- left_join(DAP_NEXT_TripletsXYdata , DAP_NEXT_RankEmeddingdata,
                           by=c("id","DAP_mediaType"))

In [102]:
head(DAP_NEXT_Data)

  id     DAP_mediaType DAP_x       DAP_y     DAP_TotalCount DAP_AnswerCount
1 DAM001 F              0.13788683 0.1293402 52             35
2 DAM001 P             -0.58970773 0.5503520 64             28
3 DAM001 T              0.36307131 0.2444565 76             50
4 DAM002 F              0.04676664 0.4997855 69             46
5 DAM002 P             -0.06888923 0.7531382 73             56
6 DAM002 T             -0.01309746 0.3157595 49             30
  DAP_diff DAP_RankRatio DAP_rankOrder
1 17       0.6730769     102
2 36       0.4375000     177
3 26       0.6578947     110
4 23       0.6666667     105
5 17       0.7671233      74
6 19       0.6122449     128

In [103]:
#Removing columns that are produced by duplicate RAs brief12 DAP Scores rows

###Removed ###
# RA_initials, imageLabel, RA_Head, RA_Ears, RA_Eyes, RA_Nose, RA_Mouth, RA_Body	
# RA_Arms, RA_Hands, RA_Legs, RA_Feet, RA_Clothes, RA_Hair, RA_notes, RA_notesAdj
# RA_DAP_rating


DAPrating_dataCombined <- select(DAPrating_dataCombined, 
                                 -c(RA_initials, imageLabel, RA_Head, RA_Ears, RA_Eyes, RA_Nose, RA_Mouth, RA_Body,	
                                     RA_Arms, RA_Hands, RA_Legs, RA_Feet, RA_Clothes, RA_Hair, RA_notes, RA_notesAdj,
                                         RA_DAP_rating))

In [104]:
#Combining Study 1 and Study 3 data with DAP NEXT Embedding data
DAP_NEXT_dataCombined <- left_join(DAP_NEXT_Data, DAPrating_dataCombined,
                           by=c("id", "DAP_mediaType"))

Warning message:
“Column `id` joining factor and character vector, coercing into character vector”Warning message:
“Column `DAP_mediaType` joining factor and character vector, coercing into character vector”

In [105]:
#Removing duplicate rows based on RAs DAP Scores

DAP_NEXT_dataCombined <- DAP_NEXT_dataCombined %>% distinct(pngName, .keep_all = TRUE)

#### Combining Cube data files

In [106]:
#Combining Triplets and DuelingBandits Embedding data
Cube_NEXT_dataCombined <- left_join(Cube_NEXT_TripletsXYdata , Cube_NEXT_RankEmeddingdata,
                           by=c("id","Cube_mediaType"))

#### Combining Cylinder data files

In [107]:
#Combining Triplets and DuelingBandits Embedding data
CYL_NEXT_dataCombined <- left_join(Cylinder_NEXT_TripletsXYdata  , Cylinder_NEXT_RankEmeddingdata,
                           by=c("id","CYL_mediaType"))

### Export data file

In [108]:
#PC - must map network Z drive to rogerslab.drive.wisc.edu first

#Mac - must connect to rogerslab.drive.wisc.edu first
setwd("/Volumes/rogerslab/NEXT/NEXTdrawings/Data/dataCombined")

#laptop
#setwd("/Users/clintjensen/NEXT/NEXTdrawingsDownloads/NEXTdrawings/Data/dataCombined")

In [109]:
#DAP
write.table(DAP_NEXT_dataCombined,"DAP_NEXT_dataCombined.csv", sep=",", col.names=T, row.names=F)

#Cube
write.table(Cube_NEXT_dataCombined,"Cube_NEXT_dataCombined.csv", sep=",", col.names=T, row.names=F)

#Cylinder (CYL)
write.table(CYL_NEXT_dataCombined,"CYL_NEXT_dataCombined.csv", sep=",", col.names=T, row.names=F)

In [110]:
# how many total unique ids included across the DAP studies?
aggregate(id ~ id  , data=DAP_NEXT_dataCombined , FUN=function(x) length(unique(x)))

  id
1 154

In [111]:
# how many total participants based on asq, Study and mediaType?
agImages <- aggregate(pngName ~  pngName +Study , data=DAP_NEXT_dataCombined, 
                      FUN=function(x) length(unique(x)))
          
agImages

  Study pngName
1 One   256
2 Three  49

# Bringing in VGG19 Data

#### Reading in data files

In [112]:
#PC - must map network Z drive to rogerslab.drive.wisc.edu first

#Mac - must connect to rogerslab.drive.wisc.edu first
setwd("/Volumes/rogerslab/NEXT/NEXTdrawings/Data/VGG-19Data")

#laptop
#setwd("/Users/clintjensen/NEXT/NEXTdrawingsDownloads/NEXTdrawings/Data/VGG-19Data")

In [113]:
Server_data <- list.files(pattern=".csv", full.names = TRUE)
Server_data

[1] "./DAP_NEXT_VGG19_dataCombined.csv" "./drawings_df_fc2_11clust.csv"

In [114]:
#reading in data files
VGG19_df <- read.csv("drawings_df_fc2_11clust.csv", header=TRUE)

In [115]:
str(VGG19_df)

'data.frame':	305 obs. of  2 variables:
 $ filenames_np: Factor w/ 305 levels "DAM001_F_DAPedit.jpg",..: 299 9 218 37 229 27 43 150 225 277 ...
 $ clusters_np : int  4 2 0 2 10 3 8 1 0 0 ...

In [116]:
VGG19_df$filenames_np <- str_replace(VGG19_df$filenames_np, ".jpg", "")

In [117]:
#missing mediaType
VGG19_df$filenames_np <- str_replace(VGG19_df$filenames_np , "DAM3D026_DAPedit", "DAM3D026_P_DAPedit")
VGG19_df$filenames_np <- str_replace(VGG19_df$filenames_np ,  "DAMa015_DAPedit", "DAMa015_T_DAPedit")

#extra space
VGG19_df$filenames_np <- str_replace(VGG19_df$filenames_np , "DAM3D058_P _DAPedit", "DAM3D058_P_DAPedit")
VGG19_df$filenames_np <- str_replace(VGG19_df$filenames_np ,  "DAM3D069_P _DAPedit", "DAM3D069_P_DAPedit")

#typo
VGG19_df$filenames_np <- str_replace(VGG19_df$filenames_np ,  "DAM065_F_DAPedt", "DAM065_F_DAPedit")

In [118]:
# separating data based on underscore used in distinguishing common elements among variables
#separate( ) function: #Objective - Splitting a single variable into two
VGG19_df_data <- separate(VGG19_df, filenames_np, 
                            c("id", "DAP_mediaType","imageLabel"), sep = "_", remove = TRUE, convert = FALSE)

In [119]:
DAP_VGG19_data <- select(VGG19_df_data, id, DAP_mediaType, clusters_np)

In [120]:
#Combining Study 1 and Study 3 data with DAP VGG19 data
DAP_NEXT_VGG19_dataCombined <- left_join(DAP_NEXT_dataCombined  , DAP_VGG19_data ,
                           by=c("id", "DAP_mediaType"))

### Export data file

In [121]:
#PC - must map network Z drive to rogerslab.drive.wisc.edu first

#Mac - must connect to rogerslab.drive.wisc.edu first
setwd("/Volumes/rogerslab/NEXT/NEXTdrawings/Data/dataCombined")

#laptop
#setwd("/Users/clintjensen/NEXT/NEXTdrawingsDownloads/NEXTdrawings/Data/dataCombined")

In [122]:
write.table(DAP_NEXT_VGG19_dataCombined, "DAP_NEXT_VGG19_dataCombined.csv", sep=",", col.names=T, row.names=F)

# To Do

Add in VGG-19 coordinates - probably need to rerun as the images used in NEXT are likely different

Create a spreadsheet of what data we have
Data sets - DAP and others

# Done

next project is to connect DP scores to the individual images above. The issue is that the T, F, and P will have to be assigned to the individual participants via their id. 

Options: 
Each of the images and their x y coordinates can be added to each participant
or
Each of the images can be a row with all the participant info copied...